@import "header.css";

    body {
        font-family: 'Poppins', sans-serif;
    }

    .country-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .country-image {
        width: 50em;  
        height: auto; 
        align-self: center;
        border-style: solid;
        background-color:lightgoldenrodyellow;
        padding: 0.5em;
        border-radius: 30px;
        margin: 3em;
        border: 100%;
    }

    .country-title {
        align-self: center;
    }

    .country-details {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .cities {
        border: 5px solid;
        padding: 2em;
        flex-grow: 1;
        background: lightgoldenrodyellow;
        border-radius: 12px;
    }

    .landmarks {
        border: 5px solid;
        padding: 2em;
        flex-grow: 1;
        margin-left: 1em;
        margin-right: 1em;
        background: lightgoldenrodyellow;
        border-radius: 12px;
    }

    .citizens {
        border: 5px solid;
        padding: 2em;
        flex-grow: 1;
        background: lightgoldenrodyellow;
        border-radius: 12px;
    }

    .information {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .about-us {
        max-width: 50em;
        margin-top: -1em;
        text-align: center;
    }

    .travel-agents {
        margin-bottom: -0.5em;
    }

    .agents {
        margin-top: -1em;
        text-align: center;
    }

    footer {
        padding: 2em; 
        text-align: center;
    }